@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
  padding: 0;
  background: #080808;
  color: #e3e3e3;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  font-family: "Roboto", sans-serif;
  &:active,
  &:hover {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: $navbar_text;

  &:hover {
    color: $navbar_activetext;
  }
}

input {
  background: $lightblack;
  outline: none;
  border: 2px solid $basicColor;
  color: $basicColor;
  padding: 0 7px;
  font-size: 16px;

  &:focus {
    border: 2px solid $navbar_tilebottom;
    color: $navbar_activetext;
  }
}

.modal_button {
  width: 250px;
  height: 50px;
  background: $lightblack;
  color: $basicColor;
  border: 2px solid $basicColor;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;

  &:hover,
  &:focus {
    border: 1px solid $navbar_tilebottom;
  }

  &:active {
    background: $background;
  }
}
