$basicColor: #ffffff;

$lightblack: #121212;
$navbar_text: #e3e3e3;
$navbar_activetext: #fafafa;
$navbar_tilecolor: #e3e3e3;
$navbar_tiletime: 0.1;
$navbar_tilebottom: #9933cc;

// common
$background: #080808;
