.pages_container {
  display: flex;
  justify-content: space-around;

  .menu {
    width: 300px;
    min-width: 300px;

    h2 {
      text-align: center;
    }

    .options {
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 10px;

      label {
        margin: 3px;
      }

      h3 {
        text-align: left;
        margin-top: 0;
        padding-bottom: 10px;
        padding-left: 10px;
        border-bottom: 1px solid white;
      }

      &.sort {
        label {
          display: flex;
          align-items: center;
          justify-content: space-between;

          select {
            background: transparent;
            color: white;
            padding: 5px;
            min-width: 150px;

            option {
              background: $lightblack;
              color: white;
              padding: 5px;
            }
          }
        }
      }
    }
    .searchButton {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        font-size: 18px;
        padding: 15px 80px;
      }
    }
  }
  .product {
    width: 80%;
    min-width: 800px;
  }
}
