.pages_container {
  display: flex;
  justify-content: space-around;

  .menu {
    width: 300px;
    min-width: 300px;

    h2 {
      text-align: center;
    }

    .options {
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 10px;

      label {
        margin: 3px;
      }

      h3 {
        text-align: left;
        margin-top: 0;
        padding-bottom: 10px;
        padding-left: 10px;
        border-bottom: 1px solid white;
      }

      &.sort {
        label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          select {
            height: 30px;
            width: 130px;
          }
        }
      }
    }
  }
  .product {
    width: 80%;
    min-width: 800px;
  }
}
