.footer {
  position: relative;
  width: 100%;
  height: 300px;
  background: $navbar_background;
  display: block;
  box-sizing: border-box;

  .label {
    position: absolute;
    top: 5px;
    left: 42vw;
    font-size: 30px;
  }

  .email {
    position: absolute;
    left: 30px;
    bottom: 30px;
  }

  .icons {
    position: absolute;
    right: 30px;
    bottom: 30px;

    img {
      width: 37px;
      height: 37px;
      margin: 7px;
      border-radius: 10px;
    }
  }
}
