.navbar {
  &_container {
    background-color: $navbar_background;
    display: flex;
    font-size: 19px;
    cursor: default;
  }
  &_title {
    color: $navbar_activetext;
    margin: 0;
    margin: auto;
    font-weight: bold;
    font-size: 25px;
    box-sizing: border-box;

    p {
      position: relative;
      text-align: center;
      margin: 0;
    }
  }
}

.navlinks {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;

  li {
    color: $navbar_text;
    display: flex;

    a {
      color: $navbar_text;
      text-decoration: none;
      padding: 25px;
      transition: background 0.2s ease-in-out;

      &.active {
        color: $navbar_activetext;
        font-weight: bold;
        border-bottom: 5px solid $navbar_tilebottom;
      }

      &:active,
      &:hover,
      &:focus {
        text-decoration: none;
        background: rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
      }

      &:hover,
      &:focus {
        color: $navbar_activetext;
      }
    }
  }
}
