.navbar_container {
  background-color: black;
  position: relative;
  right: 0;
  left: 0;
  height: 100px;
  font-size: 19px;
  cursor: default;
}

.navbar_title {
  position: absolute;
  color: white;
  margin: 0;
  padding-top: 38px;
  height: 100%;
  width: 20%;
  box-sizing: border-box;
}

.navbar_title p {
  position: relative;
  text-align: center;
  margin: 0;
}

.navlinks {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  height: 100%;
  width: 80%;
  margin: 0;
  padding: 38px 0 0 0;
}

.navlinks li {
  color: lightgray;
  float: right;
  display: inline;
  position: relative;
  margin: 0 40px;
}

.navlinks li a:active,
.navlinks li a:hover,
.navlinks li a {
  text-decoration: none;
}

.navlinks li a {
  color: lightgray;
}

.navlinks li a.active {
  color: white;
  font-weight: bold;
}

.navlinks li a:hover {
  color: white;
}

.navlinks li:hover {
  color: white;
}
