@media (min-width: 820px) {
  .navbar_container {
    background-color: $navbar_background;
    display: flex;
    font-size: 19px;
    cursor: default;

    // Navbar title
    &__title {
      color: $navbar_activetext;
      display: flex;
      margin-right: auto;
      padding-left: 20px;
      font-weight: bold;
      font-size: 24px;

      // Toggle menu btn
      .toggle_menu_btn {
        display: none;
      }
    }

    // Links
    &__navlinks {
      ul {
        display: flex;
        margin: auto;
        li {
          color: $navbar_text;
          display: flex;

          .dropdownBtn {
            background-color: $navbar_background;
            font-size: 19px;
          }

          a,
          .dropdownBtn {
            color: $navbar_text;
            text-decoration: none;
            padding: 27px;
            border-bottom: 5px solid $navbar_background;

            &.active {
              color: $navbar_activetext;
              font-weight: bold;
              border-bottom: 5px solid $navbar_tilebottom;
              background-color: rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
            }

            &:active,
            &:hover,
            &:focus {
              cursor: pointer;
              text-decoration: none;
            }

            &:hover {
              color: $navbar_activetext;
              border-bottom: 5px solid rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
              background-color: rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
            }
            &.active:hover {
              border-bottom: 5px solid $navbar_tilebottom;
            }
          }

          .dropdown {
            position: absolute;
            display: flex;
            flex-direction: column;
            padding-left: 0;

            li {
              background-color: $navbar_background;
              display: flex;
              margin-left: -27px;

              a {
                width: 100%;
              }

              &.active {
                color: $navbar_activetext;
                font-weight: bold;
                border-left: 5px solid $navbar_tilebottom;
              }

              &:active,
              &:hover,
              &:focus {
                text-decoration: none;
              }

              &:hover {
                color: $navbar_activetext;
              }
            }

            li:first-child {
              margin-top: 32px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .navbar_container {
    cursor: default;

    // Navbar title
    &__title {
      background-color: $navbar_background;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;

      // p - title
      p,
      .toggle_menu_btn {
        padding: 20px;
        font-size: 25px;
        margin: 0;
      }
      .toggle_menu_btn {
        border-radius: 10px;
        background-color: $navbar_background;
        border-width: 0;
        color: $navbar_activetext;
        margin: 0;
      }
      .toggle_menu_btn:focus,
      .toggle_menu_btn:active {
        border: none;
      }
    }

    // Links
    &__navlinks {
      ul {
        &.hidden {
          display: none;
        }
        margin: auto;
        padding: 0;
        border-bottom: 2px solid $navbar_tilebottom;

        li {
          background: $navbar_background;
          box-sizing: content-box;
          display: flex;

          a {
            text-decoration: none;
            color: $navbar_text;
            display: flex;
            width: 100vw;
            flex-direction: column;
            padding: 18px;

            &.active {
              color: $navbar_activetext;
              font-weight: bold;
              border-left: 5px solid $navbar_tilebottom;
              background: rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
            }

            &:focus {
              text-decoration: none;
              color: $navbar_activetext;
              background: rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
            }

            .dropdown {
              display: flex;
              flex-direction: column;
              padding: 18px;
              li {
                display: flex;
                margin-left: -25px;
                a {
                  display: flex;
                  padding-left: 50px;
                }

                &.active {
                  color: $navbar_activetext;
                  font-weight: bold;
                  border-left: 5px solid $navbar_tilebottom;
                }

                &:active,
                &:hover,
                &:focus {
                  text-decoration: none;
                }

                &:hover {
                  color: $navbar_activetext;
                  border-left: 2px solid $navbar_tilebottom;
                }
              }
            }
          }
        }
      }
    }
  }
}
