$basicColor: #ffffff;

// navbar configuratuin
$navbar_background: #121212;
$navbar_text: #e3e3e3;
$navbar_activetext: #fafafa;
$navbar_tilecolor: #e3e3e3;
$navbar_tiletime: 0.2;
$navbar_tilebottom: lightpink;
