.modal_container {
  cursor: default;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: $lightblack;
  box-shadow: 3px 3px 4px black;

  // header
  h1 {
    border-bottom: 1px solid $basicColor;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  button {
    z-index: 1000;
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 19px;
    width: 200px;
    color: gray;
    font-weight: bold;
    margin-top: 30px;
    background: $lightblack;
    border: 1px solid $basicColor;

    &:focus,
    &:hover {
      background: $lightblack;
      transition: 0.2s;
      outline: none;
      color: $navbar_activetext;
    }
    &:active {
      background: $navbar_tilebottom;
      transition: 0.01s;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: inline;
    margin-bottom: 20px;

    p {
      font-size: 19px;
      margin: 15px auto;
    }
    input {
      width: 400px;
      background: $lightblack;
      font-size: 19px;
      padding-left: 20px;
      color: $navbar_activetext;
      outline: none;
      border: 1px solid $basicColor;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;

      &:hover,
      &:active,
      &:focus {
        cursor: default;
        border: 1px solid $navbar_tilebottom;
        transition: 0.2s;
      }
    }
  }
}

@media (min-width: 820px) {
  .modal_container {
    width: 650px;
    border-radius: 30px;

    &__info {
      input {
        width: 400px;
      }
    }
  }
}

#modal_window {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  visibility: collapse;

  &.active {
    background: rgba(0, 0, 0, 0.79);
    visibility: visible;
  }

  & .modal {
    & .close_button {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 75px;
      height: 75px;
      background: rgba($color: #000000, $alpha: 0);

      img {
        filter: invert(0.5);
        width: 75px;

        &:hover {
          filter: invert(1);
          transform: rotateZ(90deg);
          transition: 0.2s ease-in;
        }
      }
    }

    form {
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      background: $lightblack;
      border-radius: 20px;

      h2 {
        margin-top: 0;
      }

      label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        input {
          width: 350px;
          margin-left: 100px;
          height: 30px;
        }
      }

      button {
        margin: auto;
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 820px) {
  .modal_container {
    width: 100vw;

    &__info {
      input {
        width: 250px;
      }
    }
  }
}
