#modal_window {
  h2 {
    margin: 0;
  }
  // this div is a child
  .modal {
    z-index: 100;
    position: fixed;
    background: rgba($color: black, $alpha: 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // style for form
  form {
    background: $lightblack;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 20px;

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button.close_button {
        margin: 0;
        background: rgba($color: #000000, $alpha: 0);
        width: 50px;

        img {
          filter: invert(0.5);
          width: 50px;
          &:hover {
            filter: invert(1);
            transform: rotateZ(90deg);
            transition: 0.2s ease-in;
          }
        }
      }
    }

    p {
      color: rgb(255, 0, 0);
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      font-size: 20px;

      input {
        width: 300px;
        margin-left: 100px;
        height: 45px;
        font-size: 20px;

        &.trueValidation {
          border: 1px solid #2bc94f;
        }
      }
    }

    button {
      margin: auto;
      margin-top: 40px;
      font-weight: bold;
    }
  }
  // for informational blocks
  .container {
    background: $lightblack;
    min-width: 250px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 30px;
    }

    .buttons_container {
      display: flex;
      justify-content: space-around;
      width: 100%;

      button {
        width: 100px;
      }
    }
  }
}
