#modal_window {
  h2 {
    margin: 0;
  }
  // this div is a child
  .modal {
    z-index: 100;
    position: fixed;
    background: rgba($color: black, $alpha: 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // style for form
  form {
    overflow: scroll;
    background: $lightblack;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-bottom: 2px solid $basicColor;
    border-radius: 20px;

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      font-size: 20px;

      input {
        width: 300px;
        margin-left: 100px;
        height: 45px;
        font-size: 20px;

        &.trueValidation {
          border: 1px solid #2bc94f;
        }
      }
    }

    .content {
      padding: 20px;
      display: flex;
      justify-content: space-evenly;
      .image {
        width: 200px;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .inputs {
        margin-left: 30px;
        label {
          width: 420px;
          font-size: 16px;
          padding: 0;
          input {
            margin: 0;
            font-size: 14px;
          }
          textarea {
            padding-top: 10px;
            margin: 0;
            font-size: 14px;
            width: 300px;
            height: 200px;
            min-width: 300px;
            min-height: 200px;
            max-width: 300px;
            max-height: 200px;
          }

          select {
            margin-top: 10px;
          }
        }
      }
    }

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button.close_button {
        margin: 0;
        background: rgba($color: #000000, $alpha: 0);
        width: 50px;

        img {
          filter: invert(0.5);
          width: 50px;
          &:hover {
            filter: invert(1);
            transform: rotateZ(90deg);
            transition: 0.2s ease-in;
          }
        }
      }
    }

    p {
      color: rgb(255, 0, 0);
    }

    button {
      margin: auto;
      margin-top: 40px;
      font-weight: bold;
    }

    .buttons {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto;

      button {
        font-weight: bold;
        width: 120px;
        margin: 0;
      }
    }
  }
  // for informational blocks
  .container {
    background: $lightblack;
    min-width: 250px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $basicColor;

    p {
      margin: 30px;
    }

    .buttons_container {
      display: flex;
      justify-content: space-around;
      width: 100%;

      button {
        width: 100px;
      }
    }
  }
}
