.search_input {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 10px;

  input {
    box-sizing: border-box;
    width: 45vw;
    height: 50px;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    font-size: 19px;
  }

  // LOADER
  img {
    width: 100px;
    position: absolute;
    top: 60px;
  }
}

@media (max-width: 820px) {
  .search_input {
    input {
      width: 90vw;
    }
  }
}
