@media (min-width: 820px) {
  .navbar_container {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: $lightblack;
    display: flex;
    justify-content: space-between;
    cursor: default;

    // Navbar title
    &__title {
      color: $navbar_activetext;
      display: flex;
      margin-right: auto;

      h1 {
        margin: 10px;
        margin-left: 15px;
        font-size: 22px;
      }
      // Toggle menu btn
      .toggle_menu_btn {
        display: none;
      }
    }

    // Links
    &__navlinks {
      ul {
        display: flex;
        margin: auto;
        li {
          color: $navbar_text;
          display: flex;

          button {
            background-color: $lightblack;
            font-size: 14px;
          }

          a,
          button {
            color: $navbar_text;
            text-decoration: none;
            padding: 14px;
            border-bottom: 5px solid $lightblack;
            border-radius: 0;

            h3 {
              margin: 0;
              font-size: 14px;
            }

            &.active {
              color: $navbar_activetext;
              border-bottom: 5px solid $navbar_tilebottom;
              background-color: rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
            }

            &:active,
            &:hover,
            &:focus {
              cursor: pointer;
              text-decoration: none;
            }

            &:hover {
              color: $navbar_activetext;
              border-bottom: 5px solid rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
              background-color: rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
            }
            &.active:hover {
              border-bottom: 5px solid $navbar_tilebottom;
            }
          }

          .logoutImg {
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              filter: invert(0.8);
              width: 20px;
            }
          }

          .shoppingCart {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            div {
              display: flex;
              justify-content: space-between;
              width: 42px;
              img {
                filter: invert(0.8);
                width: 20px;
              }
            }
          }

          .profileLink {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            div {
              display: flex;
              justify-content: space-between;
              img {
                filter: invert(0.8);
                width: 20px;
                margin-right: 5px;
              }
            }
          }

          .dropdown {
            position: absolute;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            z-index: 1;

            li {
              background-color: $lightblack;
              display: flex;
              margin-left: -14px;

              a {
                width: 100%;
              }

              &.active {
                color: $navbar_activetext;
                font-weight: bold;
                border-left: 5px solid $navbar_tilebottom;
              }

              &:active,
              &:hover,
              &:focus {
                text-decoration: none;
              }

              &:hover {
                color: $navbar_activetext;
              }
            }

            li:first-child {
              margin-top: 19px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .navbar_container {
    cursor: default;

    // Navbar title
    &__title {
      background-color: $lightblack;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;

      // p - title
      p,
      .toggle_menu_btn {
        padding: 20px;
        font-size: 14px;
        margin: 0;
      }
      .toggle_menu_btn {
        border-radius: 10px;
        background-color: $lightblack;
        border-width: 0;
        color: $navbar_activetext;
        margin: 0;
      }
      .toggle_menu_btn:focus,
      .toggle_menu_btn:active {
        border: none;
      }
    }

    // Links
    &__navlinks {
      ul {
        &.hidden {
          display: none;
        }
        margin: auto;
        padding: 0;
        border-bottom: 2px solid $navbar_tilebottom;

        li {
          background: $lightblack;
          box-sizing: content-box;
          display: flex;

          .dropdownBtn {
            background-color: $lightblack;
            font-size: 14px;
          }

          a,
          .dropdownBtn {
            text-decoration: none;
            color: $navbar_text;
            display: flex;
            width: 100vw;
            flex-direction: column;
            padding: 18px;

            &.active {
              color: $navbar_activetext;
              border-left: 5px solid $navbar_tilebottom;
              background: rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
            }

            &:focus {
              text-decoration: none;
              color: $navbar_activetext;
              background: rgba($color: $navbar_tilecolor, $alpha: $navbar_tiletime);
            }

            .dropdown {
              display: flex;
              flex-direction: column;
              padding: 18px;
              padding-left: 5px;
              z-index: 2;
              li {
                display: flex;
                margin-left: -25px;
                &.active {
                  color: $navbar_activetext;
                  font-weight: bold;
                  border-left: 5px solid $navbar_tilebottom;

                  text-decoration: none;
                }
                &:hover {
                  color: $navbar_activetext;
                  border-left: 2px solid $navbar_tilebottom;

                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
