.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.7s;
  backface-visibility: hidden;

  border-radius: 15px;

  background: $lightblack;
}

.back {
  transform: rotateY(180deg);
}

.card_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
  height: 400px;

  perspective: 1000px;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &__shortdescription {
    margin: 20px;
    text-align: justify;
    cursor: default;
  }

  &__frontinfo {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;

    font-size: 18px;

    &_title {
      font-weight: bold;
      color: $navbar_activetext;
    }

    &_age {
      color: $navbar_text;
      span {
        font-style: italic;
        font-weight: bold;
        color: $navbar_activetext;
      }
    }
  }

  &__backinfo {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    &_btn {
      width: 120px;
      font-size: 16px;

      display: flex;
      justify-content: center;
      align-items: center;
      background: $lightblack;
      color: $basicColor;
      border: 1px solid $navbar_tilebottom;
      border-radius: 20px;

      &:active {
        background: $lightblack;
        border: 2px solid $navbar_tilebottom;
        outline: none;
      }

      &:focus {
        background: $lightblack;
        outline: none;
      }

      &:hover {
        background-color: $background;
        font-weight: bold;
        box-shadow: 0px 0px 5px $navbar_tilebottom;
      }
    }
  }

  border-bottom-right-radius: 15px;

  // effects

  &:focus {
    box-shadow: 0px 0px 10px white;
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(360deg);
    }
  }

  &:hover .front,
  &:active .front {
    transform: rotateY(180deg);
  }
  &:hover .back,
  &:active .back {
    transform: rotateY(360deg);
  }
}
